<form class="group" [formGroup]="formGroup">
  <div class="segment">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Company</mat-label>
      <input matInput formControlName="company">
    </mat-form-field>
  </div>
  <div class="segment">
    <mat-form-field>
      <mat-label>Line 1</mat-label>
      <input matInput formControlName="addressLine1">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Line 2</mat-label>
      <input matInput formControlName="addressLine2">
    </mat-form-field>
    <div class="group">
      <div class="segment">
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>
        <mat-form-field>
          <mat-label>State</mat-label>
          <input matInput formControlName="state">
        </mat-form-field>
      </div>
      <div class="segment">
        <mat-form-field>
          <mat-label>Zip</mat-label>
          <input matInput formControlName="zip">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput formControlName="country">
        </mat-form-field>
      </div>
    </div>
  </div>
</form>

<div class="buttons">
  <button (click)="onPaste()" mat-button color="primary" mat-raised-button>
    @if (inferenceInProgress()) {
      <mat-icon class="spinning" svgIcon="spinner"></mat-icon>
    } @else {
      <mat-icon svgIcon="smart_paste"></mat-icon>
    }

    Paste
  </button>
</div>

<div class="group">
  <mat-form-field class="segment">
  <textarea cdkTextareaAutosize matInput>
Verónica Ortíz
PROLONGACION 3A NO109
EJIDO 20 DE NOVIEMBRE
Tamaulipas
Matamoros
87394
México

Phone 768.312-5495
</textarea>
  </mat-form-field>
  <mat-form-field class="segment">
  <textarea cdkTextareaAutosize matInput>
Write to us at:
Kidwelly Town Council
Council Offices
Hillfield Villas
Kidwelly
Carmarthenshire
SA17 4UL

Telephone: 01554 890203
E-mail: towncouncil@kidwelly.gov.uk
</textarea>
  </mat-form-field>
  <mat-form-field class="segment">
  <textarea cdkTextareaAutosize matInput>
Dr. Akio Yamamoto works for Microsoft at Building 92, which is located at 15010 NE 36th St, Redmond, WA 98052.
</textarea>
  </mat-form-field>
</div>
