:host {
  display: block;
  margin: 2rem;
}

.group {
  display: flex;
  gap: 2rem;
}

.segment {
  flex: 1;
}

mat-form-field,
mat-checkbox,
mat-radio-group {
  display: block;
}

mat-radio-group,
mat-checkbox {
  height: 3.5rem;
  margin-block-end: 1.375rem;
  display: flex;
  align-items: center;
}

.buttons {
  margin-block: 2rem;
  display: flex;
  gap: 1rem;
}

.spinning {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
