<div class="container">
  <form class="group" [formGroup]="formGroup">
    <div class="segment">
      <mat-form-field>
        <mat-label>Datum der Untersuchung</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="date" />
        <mat-datepicker-toggle matIconSuffix [for]="datepicker" />
        <mat-datepicker #datepicker />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hersteller</mat-label>
        <input matInput formControlName="make" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Modell</mat-label>
        <input matInput formControlName="model" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kennzeichen</mat-label>
        <input matInput formControlName="licensePlate" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kilometerstand</mat-label>
        <input matInput formControlName="mileage" type="number" />
        <span matTextSuffix>km</span>
      </mat-form-field>
    </div>
    <div class="segment">
      <mat-radio-group formControlName="tireType">
        <mat-radio-button value="Sommerreifen">Sommerreifen</mat-radio-button>
        <mat-radio-button value="Winterreifen">Winterreifen</mat-radio-button>
        <mat-radio-button value="Allwetterreifen"> Allwetterreifen </mat-radio-button>
      </mat-radio-group>
      <div class="group">
        <div class="segment">
          <mat-form-field>
            <mat-label>Profiltiefe vorne links</mat-label>
            <input matInput formControlName="treadDepthFrontLeft" type="number" />
            <span matTextSuffix>mm</span>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Profiltiefe hinten links</mat-label>
            <input matInput formControlName="treadDepthRearLeft" type="number" />
            <span matTextSuffix>mm</span>
          </mat-form-field>
        </div>
        <div class="segment">
          <mat-form-field>
            <mat-label>Profiltiefe vorne rechts</mat-label>
            <input matInput formControlName="treadDepthFrontRight" type="number" />
            <span matTextSuffix>mm</span>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Profiltiefe hinten rechts</mat-label>
            <input matInput formControlName="treadDepthRearRight" type="number" />
            <span matTextSuffix>mm</span>
          </mat-form-field>
        </div>
      </div>
      <div class="group">
        <mat-checkbox formControlName="stoneChipInWindshield">
          Steinschlag Frontscheibe
        </mat-checkbox>
        <mat-checkbox formControlName="stoneChipInWindshieldWithCracking">
          Rissbildung
        </mat-checkbox>
        <mat-checkbox formControlName="stoneChipInWindshieldViewingArea">
          Im Sichtbereich
        </mat-checkbox>
      </div>
      <mat-form-field>
        <mat-label>Anmerkungen</mat-label>
        <input matInput formControlName="notes" />
      </mat-form-field>
    </div>
  </form>

  <div class="group">
    <button (click)="fill(text())" mat-raised-button [disabled]="inferencing() || listening()">
      @if (inferencing()) {
        <mat-icon class="spinning">refresh</mat-icon>
      } @else {
        <mat-icon>wand_stars</mat-icon>
      }

      Ausfüllen
    </button>

    <button (click)="formGroup.reset()" mat-raised-button>Zurücksetzen</button>

    <button (click)="listenAndFill()" mat-raised-button [disabled]="inferencing()">
      <mat-icon>{{ listening() ? 'stop_circle' : 'mic' }}</mat-icon>
      {{ listening() ? 'Fertig' : 'Spracherkennung' }}
    </button>
  </div>

  <div class="group">
    <div class="segment">
      <mat-form-field>
        <textarea cdkTextareaAutosize matInput [(ngModel)]="text"> </textarea>
      </mat-form-field>
    </div>
  </div>
</div>
