:host {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.group {
  display: flex;
  gap: 2rem;
}

.segment {
  flex: 1;
}

mat-form-field,
mat-checkbox,
mat-radio-group {
  display: block;
}

mat-radio-group,
mat-checkbox {
  height: 3.5rem;
  margin-block-end: 1.25rem;
  display: flex;
  align-items: center;
}

button {
  margin-inline-end: 1rem;
}

.spinning {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
