:host {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 40rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.group {
  display: flex;
  gap: 2rem;
}

.segment {
  flex: 1;
  display: flex;
  flex-direction: column;
}

mat-radio-group,
mat-checkbox {
  height: 3.5rem;
  margin-block-end: 1.25rem;
  display: flex;
  align-items: center;
}

.description textarea {
  height: calc(3 * 4.75rem - 1.5rem - 0.5rem - 1.25rem);
  resize: none;
}

.spinning {
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
