<div class="header" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
  <h2 style="margin: 0;">Damage Assessment</h2>
  <div class="model-select">
    <mat-form-field>
      <mat-label>Inferenz-Modell</mat-label>
      <mat-select [(value)]="model">
        @for (model of models; track model) {
          <mat-option [value]="$index">{{ model.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>

<form class="group" [formGroup]="formGroup">
  <div class="segment">
    <mat-form-field>
      <mat-label>Datum der Untersuchung</mat-label>
      <input matInput [matDatepicker]="datepicker" formControlName="date" />
      <mat-datepicker-toggle matIconSuffix [for]="datepicker" />
      <mat-datepicker #datepicker />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hersteller</mat-label>
      <input matInput formControlName="make" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Modell</mat-label>
      <input matInput formControlName="model" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kennzeichen</mat-label>
      <input matInput formControlName="licensePlate" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kilometerstand</mat-label>
      <input matInput formControlName="mileage" type="number" />
      <span matTextSuffix>km</span>
    </mat-form-field>
  </div>
  <div class="segment">
    <mat-radio-group formControlName="tireType">
      <mat-radio-button value="Sommerreifen">Sommerreifen</mat-radio-button>
      <mat-radio-button value="Winterreifen">Winterreifen</mat-radio-button>
      <mat-radio-button value="Allwetterreifen">
        Allwetterreifen
      </mat-radio-button>
    </mat-radio-group>
    <div class="group">
      <div class="segment">
        <mat-form-field>
          <mat-label>Profiltiefe vorne links</mat-label>
          <input matInput formControlName="treadDepthFrontLeft" type="number" />
          <span matTextSuffix>mm</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Profiltiefe hinten links</mat-label>
          <input matInput formControlName="treadDepthRearLeft" type="number" />
          <span matTextSuffix>mm</span>
        </mat-form-field>
      </div>
      <div class="segment">
        <mat-form-field>
          <mat-label>Profiltiefe vorne rechts</mat-label>
          <input
            matInput
            formControlName="treadDepthFrontRight"
            type="number"
          />
          <span matTextSuffix>mm</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Profiltiefe hinten rechts</mat-label>
          <input matInput formControlName="treadDepthRearRight" type="number" />
          <span matTextSuffix>mm</span>
        </mat-form-field>
      </div>
    </div>
    <div class="group">
      <mat-checkbox formControlName="stoneChipInWindshield">
        Steinschlag Frontscheibe
      </mat-checkbox>
      <mat-checkbox formControlName="stoneChipInWindshieldWithCracking">
        Rissbildung
      </mat-checkbox>
      <mat-checkbox formControlName="stoneChipInWindshieldViewingArea">
        Im Sichtbereich
      </mat-checkbox>
    </div>
    <mat-form-field>
      <mat-label>Anmerkungen</mat-label>
      <input matInput formControlName="notes" />
    </mat-form-field>
  </div>
</form>

<div>
  <button
    (click)="paste()"
    mat-button
    color="primary"
    mat-raised-button
    [disabled]="inferencing()"
  >
    @if (inferencing()) {
      <mat-icon class="spinning">refresh</mat-icon>
    } @else {
      <mat-icon>content_paste</mat-icon>
    }

    Einfügen
  </button>

  <button (click)="formGroup.reset()" mat-button mat-stroked-button>
    Zurücksetzen
  </button>
</div>

<div class="group">
  <div class="segment">
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput>
Ford Focus ST-Line 2018
RA KL 8136
53105 km
Sommerbereifung
Profiltiefe überall 1,6 mm, hinten links 1,3 mm
Steinschlag vorne im Sichtbereich</textarea
      >
    </mat-form-field>
  </div>

  <div class="segment">
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput>
Ich untersuche einen Ford Focus ST-Line, Modelljahr 2018.
Das Kennzeichen ist RA KL 8136.
Das Auto hat eine Laufleistung von 53105 Kilometern und fährt aktuell Sommerreifen.
Ich messe jetzt die Profiltiefe.
Vorne links 1,6 mm. Vorne rechts auch. Hinten rechts auch. Hinten links nur 1,3 mm.
In der Windschutzscheibe fällt mir ein Steinschlag auf, der sich im Sichtfeld befindet.</textarea
      >
    </mat-form-field>
  </div>

  <div class="segment">
    <button
      (click)="listen()"
      mat-button
      color="primary"
      mat-raised-button
      [disabled]="inferencing()"
    >
      <mat-icon>{{ listening() ? "stop_circle" : "mic" }}</mat-icon>
      {{ listening() ? "Fertig" : "Spracherkennung" }}
    </button>

    <mat-form-field>
      <textarea cdkTextareaAutosize matInput readonly>{{
        transcribedText()
      }}</textarea>
    </mat-form-field>
  </div>
</div>
