<div class="model-select">
    <mat-form-field>
        <mat-label>Inference Model</mat-label>
        <mat-select value="1" disabled>
            <mat-option value="1">Prompt API</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<form class="group" [formGroup]="formGroup">
  <div class="segment">
    <mat-form-field>
      <mat-label>Investigation Date</mat-label>
      <input matInput [matDatepicker]="datepicker" formControlName="date" />
      <mat-datepicker-toggle matIconSuffix [for]="datepicker" />
      <mat-datepicker #datepicker />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Manufacturer</mat-label>
      <input matInput formControlName="make" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>License Plate</mat-label>
      <input matInput formControlName="licensePlate" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Mileage</mat-label>
      <input matInput formControlName="mileage" type="number" />
      <span matTextSuffix>km</span>
    </mat-form-field>
  </div>
  <div class="segment">
    <mat-radio-group formControlName="tireType">
      <mat-radio-button value="summer tires">Summer tires</mat-radio-button>
      <mat-radio-button value="winter tires">Winter tires</mat-radio-button>
      <mat-radio-button value="all-weather tires">
        All-weather tires
      </mat-radio-button>
    </mat-radio-group>
    <div class="group">
      <div class="segment">
        <mat-form-field>
          <mat-label>Trad Depth Front Left</mat-label>
          <input matInput formControlName="treadDepthFrontLeft" type="number" />
          <span matTextSuffix>mm</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tread Depth Rear Left</mat-label>
          <input matInput formControlName="treadDepthRearLeft" type="number" />
          <span matTextSuffix>mm</span>
        </mat-form-field>
      </div>
      <div class="segment">
        <mat-form-field>
          <mat-label>Trad Depth Front Right</mat-label>
          <input
            matInput
            formControlName="treadDepthFrontRight"
            type="number"
          />
          <span matTextSuffix>mm</span>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Trad Depth Rear Right</mat-label>
          <input matInput formControlName="treadDepthRearRight" type="number" />
          <span matTextSuffix>mm</span>
        </mat-form-field>
      </div>
    </div>
    <div class="group">
      <mat-checkbox formControlName="stoneChipInWindshield">
        Stone Chip in Windshield
      </mat-checkbox>
      <mat-checkbox formControlName="stoneChipInWindshieldWithCracking">
        Stone Chip in Windshield with Cracking
      </mat-checkbox>
      <mat-checkbox formControlName="stoneChipInWindshieldViewingArea">
          Stone Chip in Windshield Viewing Area
      </mat-checkbox>
    </div>
    <mat-form-field>
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes" />
    </mat-form-field>
  </div>
</form>

<div>
  <button
    (click)="paste()"
    mat-button
    color="primary"
    mat-raised-button
    [disabled]="inferencing()"
  >
    @if (inferencing()) {
      <mat-icon class="spinning">refresh</mat-icon>
    } @else {
      <mat-icon>content_paste</mat-icon>
    }

    Paste
  </button>

  <button (click)="formGroup.reset()" mat-button mat-stroked-button>
    Reset
  </button>
</div>

<div class="group">
  <div class="segment">
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput>
Ford Focus ST-Line 2018
RA KL 8136
53105 km
Summer tires
Tread depth all over 1.6 mm, rear left 1.3 mm
Stone chips at the front in the visible area</textarea
      >
    </mat-form-field>
  </div>

  <div class="segment">
    <mat-form-field>
      <textarea cdkTextareaAutosize matInput>
I am investigating a Ford Focus ST-Line, model year 2018.
The license plate number is RA KL 8136.
The car has a mileage of 53105 kilometers and is currently running summer tires.
I am now measuring the tread depth.
Front left 1.6 mm. Front right too. Rear right too. Rear left only 1.3 mm.
I notice a stone chip in the windshield, which is in the field of vision.</textarea
      >
    </mat-form-field>
  </div>

  <div class="segment">
    <button
      (click)="listen()"
      mat-button
      color="primary"
      mat-raised-button
      [disabled]="inferencing()"
    >
      <mat-icon>{{ listening() ? "stop_circle" : "mic" }}</mat-icon>
      {{ listening() ? "Done" : "Start Dictation (OpenAI Whisper)" }}
    </button>

    <mat-form-field>
      <textarea cdkTextareaAutosize matInput readonly>{{
        transcribedText()
      }}</textarea>
    </mat-form-field>
  </div>
</div>
