<div class="model-select">
  <mat-form-field>
    <mat-label>Inference Model</mat-label>
    <mat-select value="1" disabled>
        <mat-option value="1">Prompt API</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <form class="group" [formGroup]="formGroup">
    <div class="segment">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Company</mat-label>
        <input matInput formControlName="company" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" />
      </mat-form-field>
    </div>
    <div class="segment">
      <mat-form-field>
        <mat-label>Address Line 1</mat-label>
        <input matInput formControlName="addressLine1" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address Line 2</mat-label>
        <input matInput formControlName="addressLine2" />
      </mat-form-field>
      <div class="group">
        <div class="segment">
          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput formControlName="city" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput formControlName="state" />
          </mat-form-field>
        </div>
        <div class="segment">
          <mat-form-field>
            <mat-label>ZIP</mat-label>
            <input matInput formControlName="zip" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput formControlName="country" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

  <div>
    <button
      (click)="paste()"
      mat-button
      color="primary"
      mat-raised-button
      [disabled]="inferencing()"
    >
      @if (inferencing()) {
        <mat-icon class="spinning">refresh</mat-icon>
      } @else {
        <mat-icon>content_paste</mat-icon>
      }

      Paste
    </button>

    <button (click)="formGroup.reset()" mat-button mat-stroked-button>
      Reset
    </button>
  </div>

  <div class="group">
    <div class="segment">
      <mat-form-field>
        <textarea cdkTextareaAutosize matInput>
Verónica Ortíz
PROLONGACION 3A NO109
EJIDO 20 DE NOVIEMBRE
Tamaulipas
Matamoros
87394
México

Phone 768.312-5495</textarea
        >
      </mat-form-field>
    </div>

    <div class="segment">
      <mat-form-field>
        <textarea cdkTextareaAutosize matInput>
Write to us at:
Kidwelly Town Council
Council Offices
Hillfield Villas
Kidwelly
Carmarthenshire
SA17 4UL

Telephone: 01554 890203
E-mail: towncouncil@kidwelly.gov.uk</textarea
        >
      </mat-form-field>
    </div>

    <div class="segment">
      <button
        (click)="listen()"
        mat-button
        color="primary"
        mat-raised-button
        [disabled]="inferencing()"
      >
        <mat-icon>{{ listening() ? "stop_circle" : "mic" }}</mat-icon>
        {{ listening() ? "Done" : "Start Dictation (OpenAI Whisper)" }}
      </button>

      <mat-form-field>
        <textarea cdkTextareaAutosize matInput readonly>{{
          transcribedText()
        }}</textarea>
      </mat-form-field>
    </div>
  </div>
</div>
